@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
.menus{
  display: flex;
  flex-direction:row-reverse ;
}
.im2{
  margin-left: 40px;
}
.flashdesc{
  margin:40px
}

.projhead{
  margin-left:30px;
  font-size: 40px;
  font-family: 'Montserrat',cursive;
}
.project{
  margin-left:40px;
  margin-right:0px;
  margin-top: 30px;
}
.margintop{
  margin-top:80px
}
.wisf{
  font-size: 35px;
  text-align: center;
  font-family: 'Comfortaa',sans-serif;
}
.homeimg{
  width:550px;
  height: 480px;
  margin-left: 103px;
}
.aboutdesc p{
  font-size: 20px;
}
.hearit{
  font-size: 40px;
  font-family: 'Comfortaa',cursive;
  text-align: center;
  margin-top: 20px;

}
.carrdet b{
  font-size: 20px;
}
.carrdet2{
  border-right : 1px solid rgb(241, 232, 232);
  padding-left: 30px
  
}
.carrdet2 b{
  font-size: 20px;
}
.hearname{
  vertical-align: center;
  border-right : 1px solid rgb(241, 232, 232);
  
}
.hearname i{
  font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 24px;
margin-top: 30px;
margin-right: 20px;

}
.hearname2{
  border-right:none;
}
.customcard{
  align-self: center;
  margin: 20px 140px 40px 140px;
  border-radius: 120px 20px 0px 120px;
}
.custom2{
  border-radius: 20px 120px 120px 0px;
}


.aboutushead{
  font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 72px;
/* or 150% */

letter-spacing: -0.015em;
}
.about{
  margin-right: 0px;
  margin-top: 120px;
}
.menus li{
  color: #18A0FB;
  font-family: 'Montserrat',sans-serif;
  margin-right: 40px;
  text-decoration: none;
}
.menus li>a{
  text-decoration: none;
}
.menus li:hover{
  text-shadow:2px 2px 3px #a0a1a1;
}
.logo{
  font-family: 'Comfortaa',cursive;
font-style: normal;
font-weight: normal;
font-size:35px;
}
.navbar{
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.knowmore{
  text-align: right;
  margin-right: 100px;
  color: blue;
  
}

.foot{
  margin-bottom: 70px;
}

@media only screen and (max-width:990px){
  .menus{
    display: flex;
    flex-direction:column ;
  }
}